#container {
    padding: 20px;
    width: 60%;
    height: 400px;
    border: 3px solid black;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    background-color: azure;
    text-align: center;
}
#container div {
    height: 120px;
    width: 35%;
    margin-top: 100px;
    display: flex;
}
#container div a {
  display: table;
  margin: auto;
}
#division {
    float: left;
    border: 3px solid black;
}
#multiplication {
    float: right;
    border: 7px solid black;
}
