<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculations</title>
    <link rel="stylesheet" type="text/css" href="{% static 'calculations/css/styles.css' %}"/>
</head>
<body>
<div id="container">
    <h1>Привет! Выбери уровень сложности и действие:</h1>
    <div id="divormult">
        <div id="check_level_of_difficulty"></div>
        <a href="{% url 'division' %}" class="div-button" id="division">Деление</a>
        <span>или</span>
        <a href='{% url 'multiplication' %}' class="div-button" id="multiplication">Умножение</a>
    </div>
</div>
</body>
</html>