<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проверь себя</title>
    <link rel="stylesheet" type="text/css" href="{% static 'calculations/css/testyourself.css' %}"/>
</head>
<body>
<div id="tycontainer">
    <h1>Проверь себя!</h1>
    {% for item in examples %}
        <span>{{ item }}</span>
            <input required type="text" class="text-field__input" placeholder="Введите ответ ">
        <br>
    {% endfor %}
    <button>Проверить</button>
</div>
</body>
</html>